<section class="comments">
  {{#each this}}
  <section class="card comment">
    <div class="comText">
      {{comment_text}}
    </div>
    <div class="comInfo">
      {{User.username}} on {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</section>