<section class="dashTitle">
    <br>
<a href="/dashboard/create/" id="writeBtn" class="waves-effect waves-light btn"><i class="material-icons right">history_edu</i>Write Something</a>
<br />
<h2 class="title grey-text center">Your Posts</h2>
<hr>
<br>
</section>
{{#if posts.length}}
<section class="postWall">
{{#each posts as |post|}}
<div class="postCards">
{{> postDetail}}
</div>
            <a href="/dashboard/edit/{{post.id}}"><button id="editBtn" class="waves-effect waves-light btn">Edit Post</button></a>
</div>
</div>
    {{/each}}

{{else}}
<section class="container">
<h5>you do not currently have any posts</h5> 
</section>

{{/if}}


