<aside>
<h2 class="title center flow-text">your posts</h2>

<hr>
<br />
<a id="writeBtn" class="waves-effect waves-light btn"><i class="material-icons right">history_edu</i>Write Something</a>
</aside>
{{#if posts.length}}
<section>
    {{#each posts as |post|}}
        {{> postDetails post}}
        
            <a href="/dashboard/edit/{{post.id}}"><button class="button mb-5 ml-5 is-warning">edit post</button></a>
        </div>
    {{/each}}

{{else}}
<section class="container">
<h5>you do not currently have any posts</h5>
</section>

{{/if}}


