<!-- displaying articles -->
{{> postDetail post}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
</div>
<h5 class="center grey-text lighten-2"> 🔻 Comments  🔻 </h5>
<form class="comment-form">
  <div class="flex">
    <textarea class="commentBox" class="gray-text" name="comment-body"></textarea>
  
    <button id="addComment" type="button" class="waves-effect waves-light btn"><i class="material-icons right">add_comment</i>add comment</button>
  </div>
  
</form>
{{/if}}

{{> comments post.Comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}