<!-- displaying articles -->
{{> postDetail post}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button id="addComment" type="submit" class="waves-effect waves-light btn"><i class="material-icons right">add_comment</i>add comment</button>
  </div>
</form>
{{/if}}
{{> comments post.Comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}