<section>
    <a href="/dashboard" class="right"> &larr; Back to Dash</a>
  <h2 class="title center flow-text">New Blog Post</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="Best Post Title"/>
    </div>
    <div>
      <label for="post-content">Content:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="Monkey's rarely follow you home, but when they do. . ."/>
    </div>
    <button type="submit" class="btn">Create Post</button>
  </form>
</section>

<script src="/js/writePost.js"></script>