:root {
    --primary: #cc4b4ffd;
    --secondary: #86938f;
    --tertiary: #ee6e73;
    --quatrinary: #6c6b67;
    --light: #e3e4e3;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: black;
}

h3#tagline {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-100%);
    color: white !important;
}

a {
    color: var(--dark);
    text-decoration: none;
}

header {
    /* padding: 40px; */
    text-align: center;
    background: var(--primary);
    color: var(--light);
}

.btn {
    color: black !important;
}

.card-header {
    background: var(--tertiary);
}

.cardTitle {
    font-size: 3.5vw;
    font-weight: bold;
}

.cardTitle a {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
}

.card-content {
    padding: 0 1vw 2vw 1vw !important;
}

.postContent {
    margin-top: 0 !important;
    padding: 0 0 2vw 0;
}

.window {
    max-height: 80vh;
    flex: 1 0 auto;
    padding: 0 5vw 7vw;
    overflow: auto;
}

.title {
    text-decoration: none;
}


/* aside {
    position: absolute;
    background-color: var(--tertiary);
    padding: 2vw;
    max-width: 15%;
    height: 80%;
    text-align: left;
    color: var(--light);
} */

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tertiary);
    width: 100%;
    z-index: 1000;
}

.io {
    color: black;
    font-weight: bold;
    font-variant: small-caps;
}

img {
    max-width: 100%;
    height: auto;
}

textarea {
    background-color: white !important;
}


/* LAYOUT */

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}

div.card img {
    max-width: 60%;
    margin: 1% 20%;
}


/* NEW POST */

.writetitle {
    margin: 0 !important;
    padding: 2vw 2vw 0;
    flex: 1 0 80%;
}

.writebox {
    min-height: min-content;
    padding: 0 2vw;
    flex: 1 0 100%;
    margin-bottom: 2v;
}

.writebox textarea {
    width: 100%;
    height: 20vh;
    resize: none;
    box-sizing: border-box;
}


/* Signup Form */

.cardTitle {
    font-variant: small-caps;
}


/* Comment Stuff*/

.comments {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card.comment {
    flex: 0 1 55%;
    float: center;
}

.comInfo {
    text-align: center;
    font-weight: bold;
}

.comText {
    margin-left: 1vw;
    background-color: #ee6e7283;
}


/* HOMEPAGE */

.homepage.postCards {
    flex: 1 1 50%;
}


/* Dashboard */

.dashTitle {
    flex: 1 0 100%;
}

.title {
    font-variant: small-caps;
}

#writeBtn {
    max-width: 30vw;
    left: 50%;
    transform: translateX(-50%)
}

#editBtn {
    float: right;
}

.viewPosts {
    margin-left: 10%;
    flex: 1 1 90%;
}

.postCards {
    flex: 0 1 33%;
    max-height: 24vh;
}

.postCards .card {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postCards .card-content {
    max-height: 20vh;
    width: 100%;
    /* box-sizing: content-box; */
}

.postCards .content p {
    margin: 0;
    max-height: 7vh;
    max-width: 100%;
    overflow: auto;
}

.postCards .card-footer {
    /* position: relative; */
    padding-bottom: 0;
    margin-top: 2vh;
    margin-bottom: 0 !important;
    justify-self: flex-end;
}

.postWall {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}


/* EDIT POSTS */

article {
    flex: 1;
    margin: 2vh 0;
}

.editheader {
    flex: 1 0 100%;
}

.buttons {
    flex: 1 0 100%;
    display: flex;
    justify-content: space-evenly;
}

.buttons button {
    flex: 0 1 33%;
}

.center {
    margin-top: 2vh;
    flex: 1 0 100%;
}

.formdiv {
    min-height: 100%;
    /* display: flex; */
}

.edittitle {
    margin: 0 !important;
    padding: 0 2vw;
    flex: 1 0 80%;
}

.edit-post-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

.editbox {
    margin-top: -2vh !important;
    min-height: min-content;
    padding: 2vh 2vw;
    flex: 1 0 100%;
}

.editbox textarea {
    width: 100%;
    height: 20vh;
    resize: none;
    box-sizing: border-box;
}

.flex {
    height: 200%;
    display: flex;
    justify-content: flex-start;
}

.end {
    justify-self: end;
}

@media screen and (max-width:768px) {
    .cardTitle {
        font-size: 5vw;
        font-weight: bold;
    }
}